/* throughTheLens heading on the left */
.page-title {
  letter-spacing: 0.3em;
  font-size: 1rem;
  margin-left: 10px;
}

/* Change look of "hamburger" menu logo */
.custom-icon {
  font-size: 1rem;
}

#custom-toggler {
  border-color: transparent;
}
